/* Universal Styles */

html {
  font-size: 16px;
  font-family: Alegreya, serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-height: 64px;
  width: 100%;
}

.header-mobile {
  display: none;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 24px;
  margin-right: 4px;
}

.logo img {
  height: 45px;
  width: 45px;
}

#logo-text{
  font-size: 1.5em;
  color: rgb (55,55,55);
  font-weight: 700;
}

#logo-text span {
  color: rgb(104, 104, 84);
  font-weight: 400;
}


nav {
  text-align: right;
  display: flex;
  flex-direction: row;
}
@@media only screen and (max-width: 540px) {
  .logo-big {
    display: none;
  }

}
